<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/static/img/favicon.ico">

  <title>HangoutsNET Account Recovery</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <style type="text/css">
    .container {
      max-width: 800px !important;
    }
    .spacer {
      height: 10px;
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      display: block;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <h3 class="text-center">
          HangoutsNET Account Recovery
        </h3>
        <div class="spacer"></div>
        <p>
          Enter your new password into the fields below and click <em>Change Password</em>.
        </p>
        <div class="spacer"></div>
        <div id="alert" class="alert hidden"></div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="password1" class="col-md-3 control-label">
              New Password
            </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="password1" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="password2" class="col-md-3 control-label">
              Confirm New Password
            </label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="password2" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <button id="change" type="submit" data-loading-text="Changing password..." class="btn btn-primary center-block">
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/chroma-hash.min.js"></script>
  <script>
    $("#change").click(function(event) {
      event.preventDefault();
      $("#change").button("loading");
      $("#alert").hide().removeClass("alert-success alert-danger alert-warning hidden").empty();
      var password1 = $("#password1").val();
      var password2 = $("#password2").val();
      if (password1 !== password2) {
        $("#alert").addClass("alert-danger").append("<strong>Hey!</strong> The password in the first box doesn't match the password in the second box. :(").fadeIn();
        $("#change").button("reset");
      }
      else if (!password1 || 0 === password1.length) {
        $("#alert").addClass("alert-danger").append("<strong>Hey!</strong> You can't choose <em>no</em> password as your password. That's not very safe. :(").fadeIn();
        $("#change").button("reset");
      }
      else {
        $.ajax({
          type: "POST",
          url: window.location.pathname,
          data: { newpass: $("#password1").val() }
        }).done(function(data) {
          if (data == "bad_key") {
            $("#alert").addClass("alert-danger").append("<strong>Um...</strong> The key provided is no longer valid for changing your password (and possibly never was). <a href=\"/recover/\" class=\"alert-link\">Click here</a> to get a new key.").fadeIn();
          } else if (data == "no_pass") {
            $("#alert").addClass("alert-danger").append("<strong>Hey!</strong> You can't choose <em>no</em> password as your password. That's not very safe. :(").fadeIn();
          } else if (data == "pw_changed") {
            $("#alert").addClass("alert-success").append("<strong>Yay!</strong> You've successfully changed your password! Wasn't that easy? :)").fadeIn();
          } else {
            $("#alert").addClass("alert-warning").append("<strong>Uh-oh!</strong> You received malformed input from our server. There might be something wrong with your internet connection or our server. Try again. :(").fadeIn();
          }
        }).fail(function() {
          $("#alert").addClass("alert-warning").append("<strong>Uh-oh!</strong> We sent your input to our server, but we didn't get a response back. Try again later. :(").fadeIn();
        }).always(function() {
          $("#change").button("reset");
        });
      }
    });
  </script>
  <script>
    $(document).ready(function() {
      $("input:password").chromaHash({bars: 4});
    });
  </script>
</body>
</html>
